
.get-started {
  &__wrapper {
    height: 550px;
    background-image: url('../../images/header-background.png');
    background-repeat: no-repeat;
    margin-top: 80px;
  }
  &__content-wrapper {
    margin: 0 140px;
  }
  &__content {
    width: 580px;
    display: inline-block;
    &-title {
      padding-top: 60px;
      font-size: 36px;
      font-weight: 600;
      color: #FFFFFF;
    }
    &-desqr {
      font-size: 24px;
      color: #07166C;
      margin-top: 60px;
      line-height: 29px;
    }
    &-btns {
      margin-top: 25px;
    }
  }
  &__images {
    display: inline-block;
    position: relative;
    &-icons {
      left: 19px;
      top: -371px;
      position: absolute;
    }
    &-robot {
      left: 112px;
      top: -287px;
      position: absolute;
    }
    &-bottom {
      left: 155px;
      top: 44px;
      position: absolute;
    }
  }
  &__second-button {
    display: inline-block;
    margin-left: 68px;
    margin-top: 12px;
    vertical-align: top;
    & .button-secondary {
      margin: 0;
      padding-bottom: 2px;
    }
  }
}

.button-success {
  width: 225px;
  height: 53px;
}
.rectangle {
  height: 2px;
}