.header {
  &__wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(3, 3, 3, 0.15);

    &-sticky {
      position: fixed;
      top: 0;
      width: 1440px;
      background: #fff;
      z-index: 1000;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 80px;
  }
}
.header__buttons a {
  font-weight: bold;
  margin-right: 16px;
  font-size: 18px;
  color: $primary;
}
.button-success {
  width: 197px;
  height: 54px;
}