@import "../../assets/variables";

.feedback {
  &__wrapper {
    height: 700px;
    margin: 37px 140px 0;
  }
  &__content {
    &-header {
      display: inline-block;
      font-weight: 600;
      font-size: 36px;
      color: $primary;
    }
    &-deqsr {
      margin-top: 3px;
      font-size: 18px;
      color: $primary;
    }
  }
  &__user {
    &-photo {
      margin-top: 36px;
      margin-left: 173px;
    }
    &-info {
      margin-left: 109px;
      margin-top: 25px;
      &-name {
        font-weight: 600;
        font-size: 16px;
        color: #222222;
      }
      &-date {
        margin-top: 4px;
        font-size: 18px;
        color: #696969;
      }
      &-rate {
        margin-left: 2px;
        & img {
          display: inline-block;
          margin-top: 7px;
          margin-right: 7px;
        }
      }
      &-text {
        margin-top: 14px;
        font-weight: 500;
        font-size: 14px;
        color: #222222;
        text-transform: capitalize;
        line-height: 150%;
      }
    }
  }
  &__images {
    &-phone {
      position: relative;
      right: -739px;
      top: -490px;
    }
    &-bottom {
      position: relative;
      right: -631px;
      top: -579px;
      z-index: -2;
    }
    &-robot {
      position: relative;
      right: -746px;
      top: -1162px;
    }
  }
}

.rectangle {
  height: 4px;
}

.button-success {
  width: 225px;
  height: 54px;
  margin-top: 19px;
  margin-left: 178px;
}